a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: #000;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}
.top-nav {
  display: flex;
  height: 70px;
  width: 100%;
  padding: 0.3rem 2rem;
  border-bottom: 3px solid #e6e6e6;
}
.logo,
.swatch,
.social {
  flex-basis: 33.33%;
  justify-content: center;
}

.bottom-nav {
  padding: 0.3rem 2rem;
}
nav,
.bottom-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.bottom-nav-content {
  height: 40px;
}

.logo {
  font-family: cursive;
  font-size: xx-large;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.swatch {
  display: flex;
  gap: 1rem;
}
.left-color,
.right-color {
  padding: 0rem 0.7rem;
  border: 1px solid black;
  margin-right: 0.3rem;
}

.social {
  font-family: cursive;
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 25px;
  transition: all ease-in-out 0.3s;
}
.twitter {
  color: #00acee;
}
.icon:hover {
  color: rgb(46, 44, 44);
  cursor: pointer;
}
.viewall {
  display: flex;
  gap: 0.4rem;
  font-family: cursive;
  align-items: center;
}
.viewall,
.action-btns {
  flex-basis: 33.33%;
  justify-content: center;
}
.action-btns {
  display: flex;
}
.action-btns button {
  padding: 0.5rem 0.8rem;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in;
}
.action-btns button:hover {
  background-color: rgba(0, 0, 0, 0.438);
  cursor: pointer;
}
.add {
  margin-right: 1rem;
}
.clickable {
  cursor: pointer;
}
.close-icon {
  padding: 0.5rem;
  position: absolute;
  right: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.copy-css,
.add-gradient {
  display: grid;
  height: 100%;
  place-content: center;
  gap: 1rem;
}
.copy-css h2,
.add-gradient h2 {
  text-align: center;
}

.copy-css button,
.add-gradient button {
  width: 150px;
  padding: 0.5rem 0;
  margin: auto;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in;
}

.copy-css button:hover {
  background-color: rgba(0, 0, 0, 0.438);
}
.add-gradient input[type='text'] {
  padding: 0.5rem 0.2rem;
}
.from-input,
.to-input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.from-color,
.to-color {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}

@media (max-width: 900px) {
  .top-nav {
    height: 180px;
  }
  nav,
  .bottom-nav-content {
    flex-direction: column;
    gap: 1rem;
  }
  .bottom-nav-content {
    height: 105px;
  }
  .logo {
    justify-content: center;
  }

  .logo,
  .swatch,
  .social {
    height: fit-content;
  }
}

@media (max-height: 600px) and (max-width: 900px) {
  .bottom-nav {
    display: none;
  }
}
